<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzV4LND89VeIIA9A-pIOl5cuR2X0N7HMM</string>
	<key>GCM_SENDER_ID</key>
	<string>16364188486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appViaWireframe</string>
	<key>PROJECT_ID</key>
	<string>blackcoffer-83875</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcoffer-83875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16364188486:ios:e35c9b2f1651320d0beb47</string>
</dict>
</plist>